
body {
    margin: 0;
}

.panel-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.panel-table, .buttons-table button {
    font-weight: normal;
    font-family: 'Consolas', 'Courier New', 'Courier', monospace;
    font-size: 16px;
}

.panel-table td {
    padding: 20px;
}

.title-panel {
    height: 5%;
    vertical-align: middle;
    font-weight: normal;
    font-size: larger;
}

.out-panel {
    vertical-align: top;
}

.output {
    overflow-y: scroll;
    height: 100%;
}

.in-panel {
    height: 5%;
    vertical-align: middle;
}

.side-panel {
    vertical-align: top;
    width: 40%
}

.buttons-table {
    width: 100%;
    border-collapse: collapse;
}

.buttons-table td {
    padding: 4px;
}

.buttons-table button {
    width: 100%;
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.buttons-table button:active {
    box-shadow: -1px -1px rgba(0, 0, 0, 0.5);
}

.buttons-table button:focus {
    outline: none;
}
